.Journal {
    height: 85vh;
}

.top {
    display: flex;
    justify-content: center;
    background-color: rgba(2, 208, 150, 1);
    height: 85vh;
}

.summary {
    width: 35%;
    margin-left: 10vh;
    color: #ffffff;
}

.progress {
    border: 2px #ffffff solid;
    border-radius: 10px;
    height: 70vh;
    padding: 25px;
    margin: 20px 0 auto auto;
}

.stepper-bar {
    border: 2px #ffffff solid;
    border-radius: 10px;
    height: 55vh;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 10vh auto 5vh;
}

p.no-info {
    color: #ffffff;
}

.user-info {
    text-align: left;
    margin: 25px;
}

h1 {
    font-family: 'Alice-Regular';
    font-weight: normal;
    font-size: 18pt;
}

h2 {
    font-family: 'AvenirNext-Regular';
    font-weight: normal;
    font-size: 12pt;
}

h3 {
    font-family: 'AvenirNext-Light';
    font-weight: bold;
    font-size: 18pt;
    color: #ffffff;
}

.user-info h1 {
    color: #ffffff;
    padding-top: 10px;
}

.user-info h2 {
    color: #ffffff;
}

h1.congrats {
    color: #ffffff;
}

.info-paragraph {
    padding-top: 10px;
}

p {
    font-family: 'Alice-Regular';
}

.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
    background: rgb(238, 204, 202);
    transform: rotate(2.5deg);
    border-radius: 10% 25% 15% 20%;
}

.highlight-container:before {
    content: " ";
    display: block;
    position: absolute;
    background: rgb(238, 204, 202);
    transform: rotate(2.5deg);
    border-radius: 10% 25% 15% 20%;
    z-index: 0;
}

/* (responsive) mobile size */
@media screen and (max-width: 430px) {
    .Journal {
        height: 160vh;
    }

    .top {
        flex-wrap: wrap;
        width: 100%;
        height: 165vh;
    }

    .stepper-bar {
        height: 80vh;
    }
}

/* (response) tablet size */
@media screen and (min-width: 431px) and (max-width: 1024px) {
}