.contact {
    font-size: 8pt;
    color: rgba(2, 208, 150, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
    height: 50px;
}

.sites {
    position: absolute;
    left: 50%;
    display: inline-flex;
}

.author {
    position: absolute;
    right: 3%;
}

a {
    color: rgba(2, 208, 150, 1);
}

a:hover {
    color: rgb(92, 105, 106);
}

/* (responsive) mobile size */
@media screen and (max-width: 430px) {
    .contact {
        height: 70px;
    }

    .author {
        bottom: 5%;
        left: 10%;
    }
}